.additionalOptionContainer {
    margin-top: 15px;
}
.additionalOptionText {
    margin-left: 10px;
    margin-right: 10px;
}
.noteComponent {
    margin-top: 12px;
    color: gray;
    margin-left: 30px;
}

.noteText {
    font-size: 13px;
}