@media only screen and (min-width: 641px) {
    .mainContainer {
        display:flex;
        flex-direction: column;
    }
    .endType {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 641px) {
    .endType {
        margin-left: 24px;
    }
}

.mainContainer {
    margin-top: 20px;
}
.startLabel{
    margin-right: 20px;
}
.endType {
    margin-right: 20px;
}
.endCount {
    width: 50px;
}
.startContainer{
    display: flex;
    flex-direction: row;
}
.endContainer{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.startDate {
    margin-right: 20px;
    border: 0px;
    border-bottom: 1px dotted;
    padding-bottom: 3px;
    width: 100px;
}
.countEndDate {
    margin-top: 15px;
    color: gray;
    font-size: 13px;
}