@media only screen and (min-width: 641px) {
    .mainContainer {
      display:flex;
      flex-direction: row;
    }
}

@media only screen and (max-width: 641px) {
    .frequencyContainer {
        margin-top: 20px;
    }
    .frequencyInput{
        margin-left: 6px;
    }
}

.frequencyContainer {
    display:flex;
    flex-direction: row;
  }

.repeatLabel {
    margin-right: 20px;
}
.repeatDropdown {
    width: 80px;
    margin-right: 30px;
}

.everyLabel {
    margin-right: 20px;
}
.frequencyInput {
    width: 50px;
}
.selectedRepeatlLabel {
    margin-left: 10px;
}

.dropdown {
    width: 200px;
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }
  
  .dropdownHeader {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
  }
  
  .dropdownIcon {
    margin-left: 10px;
  }
  
  .dropdownBody {
    position: absolute;
    border: 1px solid #ccc;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
  }
  
  .dropdownItem {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdownItem:hover, .dropdownItem.selected {
    background-color: #eee;
  }
