@media only screen and (min-width: 641px) {
    .container {
        display:flex;
        flex-direction: row;
    }
    .weekCheckBoxContainer{
        display: none;
    }   
}

@media only screen and (max-width: 641px) {
    .container {
        display: none;
    }   
    .weekCheckBoxContainer{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
}



.weekdayBtnContainer {
    margin: 10px;
}
.weekdayBtn {
    border: 1px;
    background-color: #aaa;
    border-color: '#6b6b6b';
    border-radius: 50%;
    color: #e2e2e2;
    height: 40px;
    width: 40px;
}
.selectedWeekdayBtn {
    border: 1px;
    background-color: #4EAEEC;
    border-color: '#6b6b6b';
    border-radius: 50%;
    color: #e2e2e2;
    height: 40px;
    width: 40px;
}
.weekdayFullTextLabel {
    margin-left: 5px;
}